/*******************************************************************************************/
/************************************** Common Styles **************************************/
/*******************************************************************************************/


/***************************************/
/*********** Spacings ***********/
/***************************************/

.p-100 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.p-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.p-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.p-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.p-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

/***************************************/
/*********** Bg-Color ***********/
/***************************************/
.bg {
    background-repeat: no-repeat;
}

.bg-pantone {
    background-color: #F8485E;
}

.bg-contain {
    background-size: contain;
}

.bg-cover {
    background-size: cover;
}

.bg-auto {
    background-size: auto;
}

.bg-center {
    background-position: center;
}

.bg-right {
    background-position: right center;
}

.bg-left {
    background-position: left center;
}

/***************************************/
/*********** text -color ***********/
/***************************************/

.text-pantone {
    color: rgba(248, 72, 94, 1);
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.side-sm-title {
    font-size: 20px;
}

/***************************************/
/********** Display property **********/
/***************************************/

.flex {
    display: flex;
}

.row-direction {
    flex-direction: row;
}

.order {
    order: initial;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

/***************************************/
/*********** Buttons ***********/
/***************************************/

.custom-btn {
    cursor: pointer;
    padding: 15px 45px;
    border-radius: 23px;
    background-color: #F8485E;
    border: 2px solid #F8485E;
    color: #fff;
    transition: all .3s ease-in-out;
    font-family: Montserrat;
    white-space: nowrap;
}

.custom-btn:hover {
    background-color: #fff;
    color: #F8485E;
}

.custom-btn.alt {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.custom-btn.alt:hover {
    background-color: #000;
    color: #fff;
}



/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
