@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');


/*font-family: 'Montserrat', sans-serif;*/
/*
    1.0 - Normalize
 */

html {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-size: 20px;
    /*  base font size  16px= 1em*/
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    -webkit-transition: all 0.3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1) 0s;
    -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1) 0s;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1) 0s;
}

a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
    color: rgba(248, 72, 94, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    line-height: 1;
}


h1 {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #5c5d5f;
    font-weight: 100;
}

h2 {
    font-size: 46px;
    font-family: 'Raleway', sans-serif;
    color: #5c5d5f;
    font-weight: 100;
}

h3 {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #5c5d5f;
    font-weight: 100;
}

h4 {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    color: #5c5d5f;
    font-weight: 100;
    line-height: 1.4;
}

h5 {
    font-size: 22px;
    color: #5c5d5f;
    line-height: 1.6;
}

h6 {
    font-size: 19px;
    color: #5c5d5f;
}

p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: #5c5d5f;
    /*    white-space: pre-line;*/
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
    margin: 0;
    padding: 0;
}


abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

code,
kbd,
pre,
samp {
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
input,
select,
textarea {
    max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
    opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0.4375em;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
fieldset {
    border: 1px solid #d1d1d1;
    margin: 0 0 1.75em;
    min-width: inherit;
    padding: 0.875em;
}

fieldset > :last-child {
    margin-bottom: 0;
}
*/

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

optgroup {
    font-weight: bold;
}

/**
 * 2.0 - Typography
 */

body,
button,
input,
select,
textarea {
    color: #1a1a1a;
    font-family: 'Raleway', sans-serif;
    line-height: 1.75;
}



dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    border: 0 solid #1a1a1a;
    border-left-width: 4px;
    color: #686868;
    font-size: 1.1875rem;
    font-style: italic;
    line-height: 1.4736842105;
    margin: 0 0 1.4736842105em;
    padding: 0 0 0 1.263157895em;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote p {
    margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
    color: #1a1a1a;
    display: block;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
    content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}

blockquote strong,
blockquote b {
    font-weight: 400;
}

blockquote > :last-child {
    margin-bottom: 0;
}

address {
    color: #939595;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 10px;
}

code,
kbd,
tt,
var,
samp,
pre {
    font-family: 'Raleway', sans-serif;
}

pre {
    border: 1px solid #d1d1d1;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    background-color: #d1d1d1;
    padding: 0.125em 0.25em;
}

abbr,
acronym {
    border-bottom: 1px dotted #d1d1d1;
    cursor: help;
}

mark,
ins {
    background: #007acc;
    color: #fff;
    padding: 0.125em 0.25em;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/**
 * 3.0 - Elements
 */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #d1d1d1;
    border: 0;
    height: 1px;
    margin: 0 0 1.75em;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

ul li {
    line-height: 1;
    margin: 0;
    padding: 0;
}

ol {
    list-style: none;
    margin-left: 1.5em;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

dl {
    margin: 0 0 1.75em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 0 1.75em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}

del {
    opacity: 0.8;
}

table,
th,
td {
    border: 1px solid #d1d1d1;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    /* Prevents HTML tables from becoming too wide */
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

th,
td {
    padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
    color: #686868;
    font-family: 'Raleway', sans-serif;
}

:-moz-placeholder {
    color: #686868;
    font-family: 'Raleway', sans-serif;
}

::-moz-placeholder {
    color: #686868;
    font-family: 'Raleway', sans-serif;
    opacity: 1;
    /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
    color: #686868;
    font-family: 'Raleway', sans-serif;
}

/**
 * 4.0 - Forms
 */

input {
    line-height: normal;
}

button:focus {
    outline: none;
}

label {
    color: #5c5d5f;
}

input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
    background: #1a1a1a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    text-transform: uppercase;
}

/* 
button:hover,
button:focus,*/

input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #007acc;
}

button:focus,

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: thin dotted;
    outline-offset: -4px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
    background: transparent;
    height: 60px;
    padding-left: 15px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
    background-color: transparent;
    border-color: #F8485E;
    color: #5c5d5f;
    outline: 0;
    border: none;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(248, 72, 94, .3);
}

::-webkit-input-placeholder {
    color: #5c5d5f;
}

::-moz-placeholder {
    color: #5c5d5f;
}

:-ms-input-placeholder {
    color: #5c5d5f;
}

:-moz-placeholder {
    color: #5c5d5f;
}



.row {
    margin: 0;
}
