@media only screen and (max-width: 1280px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        /*        font-size: 30px;*/
    }

    h3 {
        /*        font-size: 22px;*/
    }

    h4 {
        /*        font-size: 28px;*/
    }

    h5 {
        /*        font-size: 22px;*/
    }

    h6 {
        /*        font-size: 19px;*/
    }

    p {
        /*        font-size: 16px;*/
    }

    .bg-contain,
    .bg-auto {
        background-size: cover;
    }

    .bg h1,
    .bg h2,
    .bg h3,
    .bg h4,
    .bg h5,
    .bg p,
    .bg .text-black,
    .bg .text-pantone,
    .bg ul li,
    .bg ul li:before {
        color: #fff;
    }

    .banner-section {
        background-image: url("../images/banner1.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-blend-mode: overlay;
    }

    .booking-section {
        background-image: url("../images/booking.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-blend-mode: overlay;
    }

    .service-section {
        background-image: url("../images/services.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-blend-mode: overlay;

    }

    .carpet-section {
        background-image: url("../images/carpet.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-blend-mode: overlay;
    }

    .map-section {
        background-image: url("../images/map.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-blend-mode: overlay;
    }

    .inner-service-section {
        background-image: url('../images/banner.jpg');
        background-image: url("../images/banner.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-blend-mode: overlay;
    }

    .about-us-section {
        background-image: url("../images/about_us.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-blend-mode: overlay;
    }

    .faq-section {
        background-image: url("../images/faq.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-blend-mode: overlay;
    }

    .navbar-toggler {
        margin-right: 25px;
        border: 1px solid;
    }

}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 991px) {
    [class*=' col-'] {
        margin-bottom: 30px;
    }

    nav#navbar {
        flex-direction: row !important;
    }

    .navbar-brand {
        margin-left: 20px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 19px;
    }

    p {
        font-size: 16px;
    }

    .section-content p {
        line-height: 1.4;
    }
}

@media only screen and (max-width: 820px) {
    .footer-header {
        display: block;
        text-align: center;
    }

    .footer-header h2 {
        color: #fff;
        margin-right: 0;
    }

    .footer-btn {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .footer-links-title {
        min-height: 0px;
    }

    .footer-content {
        margin-bottom: 20px;
    }

    .footer-contact h3 {
        font-size: 18px;
    }

    .footer-contact p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 22px;
    }

    .p-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .navbar-brand img {
        max-height: 80px;
    }

    .service-section .section-info .lists ul li {
        font-size: 16px;
    }

    .lists ul li:before {
        top: -2px;
    }

    .section-title {
        text-align: center;
    }

    .section-info {
        text-align: center;
    }

    .flex-start {
        justify-content: center;
    }

    .banner-btn a {
        margin: 10px;
    }

    .custom-btn {
        padding: 10px 30px;
    }

    .service-section .section-content {
        text-align: center;
    }

    .feature-content {
        padding: 15px 10px;
    }

    .feature-title {
        margin: 10px 0px;
        min-height: 0;
    }

    .feature-info {
        min-height: 0;
    }

    .service-section .section-info .lists ul li {
        line-height: 1.2;
    }

    .banner-btn {
        margin-top: 15px;
    }

    .order {
        order: -1;
    }

    .footer-social ul {
        margin-top: 20px;
    }

    .footer-content ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-content ul li {
        margin: 0px 14px;
    }

    .footer-content ul li a:hover {
        color: rgba(248, 72, 94, 1);
    }

    section.service-comments .section-content {
        max-width: 100%;
        width: 100%;
        margin-right: unset;
    }

    .service-comments .section-info {
        margin-bottom: 20px;
    }

    .service-comments .section-info .subtitle {
        margin-bottom: 10px;
    }

    .contact-area {
        padding-right: 0px;
    }

    .section-title .line {
        margin: 5px auto;
    }

    .contact-section .section-info ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contact-address .section-content {
        margin: 0;
        padding: 15px;
    }

    .contact-form .custom-btn {
        margin-top: 0;
    }

}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    h5 {
        font-size: 16px;
    }

    .header-contact-top p {
        text-align: center;
    }

    .banner-content {
        text-align: center;
    }

    .banner-btn {
        display: block;
        text-align: center;
    }

    .custom-btn {
        padding: 5px 20px;
    }

    .banner-btn a {
        margin: 0px;
        margin-bottom: 15px;
    }

    .service-section .section-info .lists ul li {
        width: 100%;
    }

    .footer-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-copyright p {
        font-size: 12px;
    }

    .p-90 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-links-title p {
        border-bottom: 1px solid #fff;
    }

    .package-section .section-info img {
        max-width: 100%;
    }

    .checklist-section .section-title {
        margin-bottom: 50px;
    }

    .package-section ul {
        margin-left: 15px;
    }

    .contact-address .section-content {
        margin: 0;
        padding: 0;
    }

    .contact-section .section-info ul {
        display: block;
        text-align: left;
    }

    .contact-section .section-info ul li i {
        width: 15px;
        height: 15px;
        padding-top: 3px;
        font-size: 9px;
    }

    .contact-section .section-info ul li a {
        color: #686868;
        font-size: 16px;
        margin-left: 5px;
    }


}

@media only screen and (max-width: 320px) {
    .navbar-brand img {
        max-height: 60px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 14px;
    }

    [class*=' col-'] {
        padding: 0;
    }

    .footer-btn {
        display: block;
    }

    .footer-header .btn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-contact h3 {
        font-size: 18px;
    }

    .footer-contact p {
        font-size: 16px;
    }
}
