@import url('reset.css');
@import url('common.css');

/*******************************************************************/
/*************************Top Header: Style*************************/
/*******************************************************************/

.header-contact-top p {
    text-align: right;
    padding: 7px 0px;
    color: #fff;
    font-size: 18px;
}

.header-contact-top p span {
    font-family: verdana;
}

/*******************************************************************/
/***********************Navbar/Header: Style***********************/
/*******************************************************************/
nav#navbar {
    flex-direction: column;
}

.navbar {
    background-color: rgba(255, 255, 255, .98);
}

.box-shadow {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .04);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .04);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .04);
}

.navbar-brand img {
    transition: 0.3s ease-in-out;
    padding: 15px 0px;
}

.navbar-brand-small img {
    max-height: 50px;
}

li.nav-item {
    padding: 8px 17px;
    border-bottom: 2px solid transparent;
    transition: .3s ease-in-out;
}

li.nav-item:hover {
    border-bottom: 2px solid #F8485E;
}

.nav-item a {
    font-size: 16px;
    transition: all 0.5s ease;
    padding: 15px;
}

.nav-item a:hover {
    color: #F8485E;
}

.dropdown-menu {
    min-width: 100%;
    margin: 0;
    padding: 0;
    border-top: 3px solid #000;
    border-radius: 0;
    transition: .3s ease-in-out;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

a.dropdown-item {
    text-align: left;
    padding: 15px 20px;
    background: #F8485E;
    margin-bottom: 1px;
    color: #fff;
    font-weight: 500;
    border: none;
    /*    white-space: normal;*/
}

a#navbardrop {
    position: relative;
    padding-right: 19px;
}

.dropdown-toggle::after {
    clear: both;
    display: inline-block;
    margin: 0;
    vertical-align: 0;
    font-family: fontawesome;
    content: "\f078";
    border: none;
    font-size: 13px;
    top: 15px;
    position: absolute;
    right: 0;
}

.dropdown-item:first-child {
    border-radius: 0;
}

.dropdown-item:last-child {
    margin-bottom: 0;
    border-radius: 0;
}

a.dropdown-item:hover {
    background-color: rgba(0, 191, 179, .8);
    color: #fff;
}

/*
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}
*/

a.nav-link.text-pantone.book {
    font-weight: 700;
}

button.navbar-toggler.collapsed {
    margin-right: 25px;
    border: 1px solid;
}

/*******************************************************************/
/************************Home Banner: Style************************/
/*******************************************************************/

.banner-section {
    background-image: url('../images/banner1.jpg');
}

.banner-content {
    max-width: 540px;
    width: 100%;
}

.banner-btn a {
    margin: 14px 16px;
}

.banner-btn a:first-child {
    margin-left: 0px;
}


.section-content {
    margin: 30px 0px;
}

.section-content p {
    line-height: 2;
}

/*******************************************************************/
/**********************Booking Section: Style**********************/
/*******************************************************************/
.booking-section {
    background-image: url('../images/booking.jpg');
}

.booking-section .section-content {
    max-width: 560px;
    width: 100%;
}

.section-info {}


/*******************************************************************/
/************************Home Feature: Style************************/
/*******************************************************************/

.feature-content {
    padding: 25px 10px;
}

.feature-img img {
    max-width: 70px;
}

.feature-title {
    margin: 20px 0px;
    min-height: 50px;
}

.feature-title h3 {
    color: #5c5d5f;
}

.feature-info p {
    line-height: 1.5;
    color: #5c5d5f;
}

.section-title {
    margin-bottom: 30px;
}

.section-title h2 {
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.2;
}

.feature-info {
    min-height: 80px;
}

/*******************************************************************/
/***********************Home Services: Style***********************/
/*******************************************************************/
.service-section {
    background-image: url('../images/services.jpg');

}

.service-section .section-content {
    text-align: right;
    max-width: 685px;
    width: 100%;
}

.service-section .section-info ul {
    display: flex;
    flex-wrap: wrap;
}

.service-section .section-info .lists ul li {
    width: 48%;
    line-height: 2;
    text-align: left;
    margin-right: 1%;
    position: relative;
    padding-left: 25px;
}



/*******************************************************************/
/**********************Carpet Section: Style**********************/
/*******************************************************************/
.carpet-section {
    background-image: url('../images/carpet.jpg');
}

.carpet-section .section-content {
    max-width: 560px;
    width: 100%;
}


/*******************************************************************/
/**********************Counter Section: Style**********************/
/*******************************************************************/
.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
    height: 100%;
}

.count-title {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family: verdana;
}

.count-text {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}


/*******************************************************************/
/**********************Home Map Section: Style**********************/
/*******************************************************************/
.map-section {
    background-image: url('../images/map.jpg');
    padding-bottom: 400px;
}


/*******************************************************************/
/***********************News Section: Style***********************/
/*******************************************************************/

.news-section .section-title {
    margin-bottom: 50px;
}

.news-title a h4 {
    color: #333;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 12px;
}

.news-date p {
    font-weight: 600;
    margin-bottom: 12px;
}


/*******************************************************************/
/***********************Service Section: Style***********************/
/*******************************************************************/
.inner-service-section {
    background-image: url('../images/banner.jpg');
}




/*******************************************************************/
/***********************Services: Style***********************/
/*******************************************************************/
.services {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #EA6576;
}

.services:first-child {
    padding-top: 0;
}

.services:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.service-title {
    margin-bottom: 20px;
}

.service-info {
    margin-bottom: 20px;
}

/*******************************************************************/
/**************************Packages: Style**************************/
/*******************************************************************/

.package-section .section-info {
    padding-bottom: 50px;
    border-bottom: 1px solid #cbcbcb;
    text-align: left;
}

.package-section .section-info img {
    max-width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.package-section .section-info span {
    font-size: 18px;
}

.package-section ul {
    margin-left: 50px;
}

.package-section ul li {
    list-style-type: disc;
    line-height: 1.6;
}

/*******************************************************************/
/**************************Checklist: Style*************************/
/*******************************************************************/
.checklist-section {}

.checklist-section .section-title {
    position: relative;
    margin-bottom: 100px;
}

.checklist-section .section-title h2 {
    color: #838383;
    font-weight: lighter;
}

.checklist-section .section-title .title {
    background-color: #ffffff;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 53%;
    padding: 0px 8px;
}

.checklist-section .section-title .line {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #c9c9c9;
    top: 50%;
    z-index: -1;
}


.checklist-section .row {}

.checklist {}

.check-title h3 {
    margin-left: 20px;
}

.checklist .img-title {
    max-width: 50px;
}

.lists {
    margin-top: 20px;
}

.lists ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 35px;
}

.lists ul li:before {
    font-family: fontawesome;
    content: "\f046";
    position: absolute;
    left: 0;
    top: 4px;
    color: #F8485E;
}


/*******************************************************************/
/***********************Service Comment Section: Style***********************/
/*******************************************************************/

.service-comments {
    background-color: #F4F4F4;
}

section.service-comments .section-content {
    max-width: 400px;
    float: right;
    margin-right: 100px;
}

/*******************************************************************/
/***********************About Us Section: Style***********************/
/*******************************************************************/
.about-us-section {
    background-image: url('../images/about_us.jpg');
}

.about-us-section .section-info h5 {
    line-height: 1.6;
    color: #5c5d5f;
}

/*******************************************************************/
/***********************Faq Section: Style***********************/
/*******************************************************************/
.faq-section {
    background-image: url('../images/faq.jpg');
}

.faq-list {
    padding-top: 100px;
    padding-bottom: 50px;
}

.faqs {
    padding: 20px 0px;
    border-bottom: 1px solid #bbb;
}

.list-collapse {
    position: relative;
    cursor: pointer;
}

.list-collapse h4 {
    padding-left: 43px;
    font-size: 22px;
    transition: all .3s ease-in-out;
}



.list-collapse h4:before {
    position: absolute;
    left: 0;
    top: 0;
    font-family: fontawesome;
    content: "\f067";
    padding: 6px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    transition: all .3s ease-in-out;
}

.list-collapse:hover h4 {
    color: #F8485E;
}

.list-collapse:hover h4:before {
    background-color: #F8485E;
}

.faq-details {
    margin-top: 25px;
}

.faqs a[aria-expanded="true"] .list-collapse h4:before {
    background-color: #F8485E;
    content: "\f068";
}

/*******************************************************************/
/***********************Footer Section: Style***********************/
/*******************************************************************/
footer a {
    color: #fff;
}

.footer-header {
    display: flex;
    justify-content: center;
}

.footer-header h2 {
    color: #fff;
    margin-right: 40px;
}

.footer-header .btn {
    margin-right: 40px;
    border: none;
}

.footer-header .btn:last-child {
    margin-right: 0px;
}

.footer-links {
    background-color: #5C5D5F;
    padding: 40px 0px;
}

.footer-links-title p {
    color: #fff;
}

.footer-links-title {
    min-height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    margin-top: 20px;
}

.footer-contact h3 {
    font-size: 38px;
    font-family: verdana;
    padding: 10px;
    font-weight: 500;
}

.footer-contact p {
    font-size: 21px;
    font-weight: 500;
}

.footer-container {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer-section .links ul li a {
    line-height: 1.8;
    font-size: 16px;
}

.footer-section ul li a:hover {
    /*    color: #F8485E;*/
}

.footer-social ul {
    display: flex;
    justify-content: center;
    margin-top: 51px;
}

.footer-content ul li a:hover {
    color: rgba(248, 72, 94, 1);
}

.footer-social ul li a i {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    margin: 0px 10px;
    align-items: center;
    padding: 7px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.footer-social ul li a i:hover {
    background-color: #333;
    color: #fff;
}

.footer-copyright.text-center {
    padding: 20px 0px;
    background-color: #000;
}

#scroll {
    position: fixed;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    display: none;
    opacity: .5;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: #e74c3c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}


/*******************************************************************/
/***********************Contact Section: Style***********************/
/*******************************************************************/

.contact-section [class*=' col-'] {
    padding-left: 0;
}

.contact-section .container {
    max-width: 1330px;

}

.contact-section .section-content p {
    margin-bottom: 20px;
}

.contact-area {
    padding-right: 70px;
}

.contact-address {
    background-color: #F5F5F5;
}

.contact-address .section-content {
    margin: 30px 0px;
    padding: 0px 50px;
}

.section-title .line {
    background-color: #F8485E;
    height: 2px;
    width: 50px;
    margin-top: 5px;
}

.service-hours {
    margin-top: 50px;
}

.contact-section .section-info ul li {
    margin-top: 10px;
}

.contact-section .section-info ul li i {
    width: 30px;
    height: 30px;
    background-color: #F8485E;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    color: #fff;
    font-size: 16px;
}

.contact-section .section-info ul li a {
    color: #686868;
    font-size: 18px;
    margin-left: 10px;
}

.contact-section .section-info ul li a:hover {
    color: #F8485E;
}

.service-time p {
    margin: 0px !important;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px;
}

.service-detail {
    margin-top: 20px;
}

.service-time {
    text-align: left;
}

/*checkbox*/

.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.chiller_cb input {
    display: none;
}

.chiller_cb input:checked ~ span {
    background: #fd2727;
    border-color: #fd2727;
}

.chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}

.chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb input:disabled ~ span {
    background: #ececec;
    border-color: #dcdcdc;
}

.chiller_cb input:disabled ~ label {
    color: #dcdcdc;
}

.chiller_cb input:disabled ~ label:hover {
    cursor: default;
}

.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 16px;
}

.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}

.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}

.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}

.contact-form .custom-btn {
    margin-top: 50px;
    padding: 15px 70px;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    color: #5c5d5f;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    background-color: #fff;
    border: 1px solid #F8485E;
    color: #5c5d5f;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(248, 72, 94, .3);
}



.selectdiv {
    position: relative;
}

.selectdiv:after {
    content: '\f107';
    font-family: FontAwesome;
    color: #ced4da;
    right: 0;
    top: 0;
    height: 50px;
    border: 1px solid #ced4da;
    position: absolute;
    pointer-events: none;
    width: 50px;
    text-align: center;
    padding-top: 9px;
    background-color: #fff;
}

select::-ms-expand {
    display: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
}

.selectdiv select:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
